<!-- About Start -->
<section id="about">
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img class="img-fluid" src="img/about-img2.png" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Sobre Nosotros</div>
          <h1 class="mb-4">Conectamos industrias con tecnología segura y escalable</h1>
          <p>En WONTEC diseñamos, implementamos y mantenemos soluciones en telecomunicaciones, redes empresariales,
            seguridad informática y desarrollo de software para hoteles, hospitales, industrias y gobierno.</p>
          <div class="row g-3 mt-3">
            <div class="col-sm-6">
              <h6><i class="fa fa-check text-primary me-2"></i>Redes & Fibra Óptica</h6>
              <h6><i class="fa fa-check text-primary me-2"></i>Servidores Linux/Windows</h6>
            </div>
            <div class="col-sm-6">
              <h6><i class="fa fa-check text-primary me-2"></i>Seguridad & Firewalls</h6>
              <h6><i class="fa fa-check text-primary me-2"></i>Soporte 24/7</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->
</section>