<!-- About Start -->
<section id="about">
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img class="img-fluid" src="img/about-img2.png" alt="WONTEC equipos y soluciones" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3" data-i18n="about.badge">Conocenos</div>
          <h1 class="mb-4" data-i18n="about.h1">Conectamos industrias con tecnología segura y escalable</h1>
          <p data-i18n="about.p">En WONTEC diseñamos, implementamos y mantenemos soluciones en telecomunicaciones, redes empresariales,
            seguridad informática y desarrollo de software para hoteles, hospitales, industrias y gobierno.</p>
          <div class="row g-3 mt-3">
            <div class="col-sm-6">
              <h6><i class="fa fa-check text-primary me-2"></i><span data-i18n="about.item1">Redes & Fibra Óptica</span></h6>
              <h6><i class="fa fa-check text-primary me-2"></i><span data-i18n="about.item2">Servidores Linux/Windows</span></h6>
            </div>
            <div class="col-sm-6">
              <h6><i class="fa fa-check text-primary me-2"></i><span data-i18n="about.item3">Seguridad & Firewalls</span></h6>
              <h6><i class="fa fa-check text-primary me-2"></i><span data-i18n="about.item4">Soporte 24/7</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->
</section>