<footer class="footer-area secondary-bg">
  <div class="footer__shape-regular-left wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
    <img src="/img/footer-regular-left.png" alt="shape" />
  </div>
  <div class="footer__shape-solid-left wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
    <img class="sway_Y__animation" src="/img/footer-solid-left.png" alt="shape" />
  </div>
  <div class="footer__shape-solid-right wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
    <img class="sway_Y__animation" src="/img/footer-solid-right.png" alt="shape" />
  </div>
  <div class="footer__shape-regular-right wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
    <img class="sway_Y__animation" src="/img/footer-regular-right.png" alt="shape" />
  </div>
  <div class="footer__shadow-shape">
    <img src="/img/footer-shadow-shape.png" alt="shodow" />
  </div>
  <div class="container">
    <div class="footer__wrp pt-100 pb-100">
      <div class="footer__item item-big wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
        <a href="index.html" class="logo mb-30">
          <img src="/img/logo_wontec_blanco.png" alt="image" />
        </a>
        <p>
          Telecomunicaciones, redes empresariales, seguridad informática y
          desarrollo de software para impulsar industrias en Latinoamérica.
        </p>
        <div class="social-icon">
          <a href="https://www.facebook.com/share/17rtsUuvqC/" aria-label="Facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/wontec17?igsh=MXFkdmttcHI2YjRmNA==" aria-label="Instagram" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer__item item-sm wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
        <h3 class="footer-title">Servicios </h3>
        <ul>
          <li><a href="/pages/servicesTI.html"><i class="fa-regular fa-angles-right me-1"></i>Tecnologías de la información</a></li>
          <li><a href="/pages/servicesCS.html"><i class="fa-regular fa-angles-right me-1"></i>Seguridad informática</a></li>
          <li><a href="/pages/servicesRIC.html"><i class="fa-regular fa-angles-right me-1"></i>Redes comerciales e industriales</a></li>
        </ul>
      </div>
      <div class="footer__item item-big wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
        <h3 class="footer-title">Contacto</h3>
        <p class="mb-20"><i class="fas fa-envelope me-2"></i><a href="mailto:fermin.garcia@wontec.com.mx">fermin.garcia@wontec.com.mx</a></p>
        <ul class="footer-contact">
          <li>
            <i class="fas fa-clock"></i>
            <div class="info"><h5>Horario de servicio:</h5><p>Lunes - Viernes: 09.00 AM - 5.00 PM</p></div>
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <div class="info"><h5>Telefono de contacto:</h5><p><a href="tel:+77731546172">773 154 6172</a></p></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="d-flex gap-1 flex-wrap align-items-center justify-content-md-between justify-content-center">
        <ul class="d-flex align-items-center gap-4 wow fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
          <li><a href="#0">Terms & Condition</a></li>
          <li><a href="#0">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
