<div class="container-fluid fixed-top bg-opacity-75">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark p-0">
      <a href="index.html" class="navbar-brand">
        <img src="/img/logo_wontec_blanco.png" alt="image" />
      </a>
      <button
        type="button"
        class="navbar-toggler ms-auto me-0"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="/index.html" class="nav-item nav-link active">Home</a>
          <a href="/index.html#about" class="nav-item nav-link">About</a>
          <a href="/index.html#services" class="nav-item nav-link">Services</a>
          <a href="/index.html#cases" class="nav-item nav-link">Projects</a>
        </div>
      </div>
    </nav>
  </div>
</div>

