<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header mb-5">
  <div class="container pt-5">
    <div class="row g-5 pt-5">
      <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">WONTEC</div>
        <h1 class="display-4 text-white mb-4 animated slideInRight">Tecnología que impulsa industrias y conecta regiones.</h1>
        <p class="text-white mb-4 animated slideInRight">Somos un equipo que ofrece soluciones completas en telecomunicaciones, adaptadas a diversos sectores.</p>
      </div>
      <div class="col-lg-6 align-self-end text-center text-lg-end">
        <img class="img-fluid" src="img/LOGIN.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->
