<!-- Partners / Technology Trends Start -->

<section class="container-fluid bg-dark text-white py-5">
  <div class="container">
      <div class="d-flex align-items-center justify-content-between mb-4">
      <div>
        <h2 class="h1 mb-0"><span data-i18n="partners.title">Nuestros</span> <span class="text-primary">Partners</span></h2>
      </div>
     
    </div>

    <div class="row g-4">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/dell-logo.png" alt="DELL" />
          </div>
          <h5 class="mb-0">DELL</h5>
        </div>
      </div>



      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/cisco.png" alt="Cisco" />
          </div>
          <h5 class="mb-0">CISCO</h5>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/syscom.png" alt="Cisco" />
          </div>
          <h5 class="mb-0">SYSCOM</h5>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/hirschmann.png" alt="HMS" />
          </div>
          <h5 class="mb-0">HIRSCHMANN</h5>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/hp.png" alt="Ubiquiti" />
          </div>
          <h5 class="mb-0">HP PROLIANT SERVER</h5>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="partner-card text-center">
          <div class="partner-icon mb-3 mx-auto">
            <img src="img/mimosa.png" alt="Anybus" />
          </div>
          <h5 class="mb-0">MIMOSA</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Offer area end here -->

<!-- Brand area start here -->
<div class="brand-area">
  <div class="container">
    <div class="brand__wrp">
      <div class="swiper brand__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/pti.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/atvm.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/tlahuelilpan.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/acciona.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/proyecta.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/mitsuico.png" alt="image" />
            </div>
          </div>
           <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/atitalaquia.png" alt="image" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="brand__image image">
              <img src="img/radiocomunicaciones.png" alt="image" />
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
<!-- Brand area end here -->
<!-- Technology Trends / Partners End -->
